<% num = doc["doc_versions"].length-1 %>
 <section>
  <% name = doc["doc_name"] %>
  <% name_link = name.gsub(" ", "_") %>
  <h1><a href="/documents/<%=name_link %>"><%= doc["doc_name"] %></a></h1>
  <p>document creator: <%= doc["primary_user"]["name"]%></p>
</section>
