<nav>
  <% if get_single_redis_item("article_tags") %>
  <h3 class="centered"> Article Tags </h3>
  <ul>
    <% get_single_redis_item("article_tags").each do |tag| %>
      <li>
      <%= render(:erb, :_tag_links, :locals => {:tag => tag}) %>
      </li>
    <%end%>
  </ul>
  <%end%>
</nav>
