<%= render(:erb, :_header) %>
<%= render(:erb, :_nav_bar) %>
   <section class="main">
    <% @doc.each do |doc| %>
      <%= render(:erb, :_document, :locals => {:doc => doc}) %>
    <% end %>
  </section>
